apiVersion: v1
kind: ConfigMap
metadata:
  name: ai-sprint-monit-sync
data:
  MONIT_SYNC_LOCAL_URL: __LOCAL_URL__
  MONIT_SYNC_LOCAL_ORG: __LOCAL_ORG__
  MONIT_SYNC_LOCAL_BUCKET: __LOCAL_BUCKET__
  MONIT_SYNC_REMOTE_URL: __REMOTE_URL__
  MONIT_SYNC_REMOTE_ORG: __REMOTE_ORG__
  MONIT_SYNC_REMOTE_BUCKET: __REMOTE_BUCKET__
